*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.inputReview{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.inputStarReview {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 20px;
}

